---
name: CI
on:
  pull_request:
    paths:
      - "**/**"

jobs:
  setup-matrix:
    name: Setup Matrix
    runs-on: ubuntu-slim
    outputs:
      matrix: ${{ steps.setup-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Matrix
        id: setup-matrix
        run: |
          MATRIX=$(git diff --find-renames=100% --name-only $(git merge-base remotes/origin/main $(git rev-parse --abbrev-ref HEAD)) | grep '^[a-zA-Z0-9\-]*\/' | sed 's#/.*##g' | sort -u | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=${MATRIX}" >> $GITHUB_OUTPUT
          jq <<< "${MATRIX}"

  docker-build:
    name: Test Docker Build
    runs-on: ubuntu-latest
    needs: setup-matrix
    if: needs.setup-matrix.outputs.matrix != '[]'
    strategy:
      fail-fast: false
      matrix:
        docker-dir: ${{ fromJSON(needs.setup-matrix.outputs.matrix) }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.docker-dir }}
          file: ${{ matrix.docker-dir }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: false
